.sidebar-div {
    border: 2px solid red;
    width: 4.6%;
    height: 100vh;
    background-color: white;
    position: fixed;
    /* max-width: 400px; */


    /* transition: width 1.3s ease, max-width 1.3s ease;  */
}

#mainpage-column1 {
    transition: width 1.3s ease;
    /* Add transition effect for width */
}


.menu-toggle-btn{
    height: 50px;
}


.nav-btn {
    background-color: transparent;
    border: none;
    margin: 10px;
}


/* .nav-btn i{
    font-size: 28px;
} */

.nav-btn .nav-open-icon {
    font-size: 28px;
}

.nav-btn .nav-close-icon-div {
    align-items: center;
    /* display: flex; */
}

.nav-btn .nav-close-icon {
    font-size: 18px;
    font-weight: bold;
}

.nav-btn .nav-close-icon-div p {
    margin-bottom: 0px;
    margin-left: 8px;
    font-size: 16px;
}



.aside-nav-link{
    height: 85vh;
}


.aside-nav-link-ul {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;

    line-height: 2.6;

    /* border: 3px solid blue; */
}

.aside-nav-link ul li {
    text-decoration: none;
    list-style: none;
    width: 100%;
    /* border: 3px solid palevioletred; */
}

.aside-nav-link ul li a {
    padding-left: 15px;
    /* padding-right: 15px; */
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    /* transition: width 1.3s ease; */
}


.navlinks-number {
    /* width: 25px!important; */

    /* width: calc(5% - 25px); */
    width: 30px;
    flex-shrink: 0;

    margin-right: 20px;
    /* display: inline-block; */


    text-align: center;
    /* position: fixed; */
}


.dasboard2-text {
    /* max-width: 0px; */
    /* overflow: hidden; */
    /* display: inline; */
    /* transition: max-width 0.5s ease, margin-left 0.5s ease; */
    transition: max-width 0.5s ease, margin-left 0.5s ease;
    margin-left: 0;
    margin-bottom: 0;

}

.dasboard2-text-dblock {
    text-align: start;
    max-width: 500px;
    /* display: inline-block !important; */
    /* margin-left: 15px !important; */
    /* border: 3px solid green; */
    /* background-color: aqua; */

    /* transition: all 0.5s ease; */
}





.navlink-column1 {
    /* display: flex;
    flex-direction: column; */
    /* border: 3px solid yellow; */
    width: 100%;
    /* max-width: 300px; */
}










/* ==================================Sidebar dropdown work================================== */

.product-dropdown {
    display: flex;
    /* align-items: center; */
    position: relative;
    cursor: pointer;
    flex-direction: column;


}



.dropdown-link-row {
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    /* transition: all 0.5s ease; */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /* width: 100%; */
}

.product-dropdown i {
    /* display: none; */
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 3px;

    /* border: 3px solid red; */
}

.dropdown-content {
    display: none;
    flex-direction: column;
    width: 60%;
    /* border: 1px solid #ccc; */
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* margin-top: 10 */

    position: relative;
    left: 10%;

    height: 175px;
    /* padding: 15px; */

    padding: 5px 0px 15px 20px;

    overflow-y: scroll;
}


.dropdown-content li a{
    padding-left: 0px!important;
}




.dropdown-content.closed {
    display: none !important;
}





.aside-bottom-link{
    padding-top: 10px;
    position: relative;
    top: 0;
    /* background-color: aqua; */
}

.aside-bottom-link ul{
    
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    /* flex: 1; */
}

.aside-bottom-link ul li {
    text-decoration: none;
    list-style: none;
    width: 100%;
}


.aside-bottom-link ul li a {
    padding-left: 15px;
    text-decoration: none;
    white-space: nowrap;

    overflow: hidden;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: row;
   
}


.aside-bottom-navlink-icon {
    width: 30px;
    flex-shrink: 0;
    margin-right: 20px;
    text-align: center;
}


.aside-bottom-navlink-icon i{
    font-size: 26px;
    color: black;
    /* font-weight: bold; */
}

















.navlink-column2 {
    display: flex;
    flex-direction: column;

    border: 3px solid green;
}